@import 'tailwindcss';

body {
  background-color: #708a58;
}

@utility cont-p-m {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@utility inp-border {
  padding: 16px;
  width: 240px;
  height: 56px;
  border: 1px, solid;
  border-radius: 8px;
  border-color: var(--color-gray1);
}

@theme {
  --shadow-card:
    0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-btn:
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-top:
    0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
  --color-gray1: #00000080;
  --color-gray2: #000000dd;
  --color-gray3: #00000099;
  --color-blue1: #2196f3;
}
